extends ./layout.pug
block contenido
    div(class="col-md-8 remove-float mx-auto text-center big-top-space")
        h1 Bienvenidos a mi pagina web
        a(href="/login", class="right-space") Iniciar Sesion
        br
        a(href="/signup" class="right-space") Registro
        br
        a(href="/app/usuarios" class="right-space") Listar Alumnos
        br
        a(href="/registro" class="right-space") Registro